<!DOCTYPE html>
<!--[if lt IE 10]>
<html lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div id="head" th:insert="hnf/admin/head :: frhead"></div>
<body class="side-menu-container">
<div id="preloader"></div>
<div id="header" th:insert="hnf/admin/header :: frheader"></div>
<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Upload Report</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="container">
            <div class="row gutters">
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card ">
                        <div class="card-body">
                            <form action="/admin/content/upload" enctype="multipart/form-data" method="post">
                                <div class="row gutters">
                                    <input type="hidden" id="authorFileId" name="authorFileId" value="">
                                    <input type="hidden" id="authorUserId" name="authorUserId" value="">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="topic">Topic</label>
                                            <input type="text" class="form-control" id="topic" name="topic"
                                                   placeholder="Manuscript, Figure only, Poster, Thesis, Grant">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="category">Category</label>
                                            <select id="category" name="category" class="form-control">
                                                <option value="" selected disabled>Select One</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="language">Language</label>
                                            <select id="language" name="language" class="form-control">
                                                <option value="" selected disabled>Select One</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="reportType">Report Type</label>
                                            <select name="reportType" class="form-control" id="reporttype">
                                                <option value="preliminaryReport">Preliminary Report</option>
                                                <option value="finalReport">Final Report</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="file">File (word, pdf, excel, ppt, zip, rar, tiff, svg,
                                                eps)</label>
                                            <input type="file" class="form-control" id="file" name="file"
                                                   accept=".docx,.doc,.pdf,.xlsx,.pptx,.zip,.rar,.eps,image/tiff, image/svg">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea name="description" id="description"
                                                      class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="services">Proposed Services</label>
                                            <select class="form-control" id="services" name="proposedServices[]"
                                                    multiple="multiple">
                                                <option value="">Select One</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button type="submit" id="submit" name="submit" class="btn btn-primary">
                                                Upload
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let urlParams = new URLSearchParams(window.location.search);
    var authorFileId = urlParams.get('authorFileId');
    var authorUserId = urlParams.get('authorUserId');
    var elem = document.getElementById('authorFileId');
    var elem2 = document.getElementById('authorUserId');
    elem.value = authorFileId;
    elem2.value = authorUserId;

</script>
<script>
    $.getJSON("/init/properties?property=category", null, function (data) {
        //console.log(data);
        $.each(data, function (i, item) {
            // Create and append the new options into the select list
            //console.log('item: ',item);
            $("#category").append("<option value='" + item + "'>" + item + "</option>");
        });
    });
    $.getJSON("/init/properties?property=language", null, function (data) {
        //console.log(data);
        $.each(data, function (i, item) {
            // Create and append the new options into the select list
            //console.log('item: ',item);
            $("#language").append("<option value='" + item + "'>" + item + "</option>");
        });
    });
    $.getJSON("/admin/plans", null, function (data) {
        //console.log(data);
        $.each(data, function (i, item) {
            // Create and append the new options into the select list
            // console.log('item: ',item.name,item.price);
            $("#services").append("<option value='" + item.name + "'>" + item.name + " ($" + item.price + ")</option>");
        });
    });
    $(document).ready(function () {
        $('#services').select2();
        $("#numberfig").hide();
    });
    $('#services').on('change', function () {
        //var services = $('#services option:selected').text();
        var services = $("#services option:selected").map(function () {
            return $(this).text();
        }).get();
        //console.log('Test service',services);
        var fig = services.filter(service => service === 'Figure Formatting ($50)');

        if (fig.length > 0) {
            $("#numberfig").show();
        } else {
            $("#numberfig").hide();
        }
        console.log(fig);

    });
</script>
<div id="footer" th:insert="hnf/admin/footer :: frfooter"></div>
</body>
</html>
