<!DOCTYPE html>
<!--[if lt IE 10]>
<html lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div id="head" th:insert="hnf/admin/head :: frhead"></div>
<body class="side-menu-container">
<div id="preloader"></div>
<div id="header" th:insert="hnf/admin/header :: frheader"></div>
<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Find Order</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-empty section-item">
    <div id="find-order">
        <find-order></find-order>
    </div>
    <script th:src="@{/HTWF/scripts/vue/admin/findOrder.js}"></script>

</div>
<div id="footer" th:insert="hnf/admin/footer :: frfooter"></div>

</body>
</html>
