<!DOCTYPE html>
<!--[if lt IE 10]>
<html lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div id="head" th:insert="hnf/admin/head :: frhead"></div>
<body class="side-menu-container">
<div id="preloader"></div>
<div id="header" th:insert="hnf/admin/header :: frheader"></div>
<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Upload Qr Code</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="container">
            <div class="row gutters">
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card ">
                        <div class="card-body">
                            <form th:action="@{/admin/qrcode/update}" method="post" enctype="multipart/form-data">
                                <div class="row gutters">
                                    <div>
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="name">QR-Code Name</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="qrCodeName">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="qrCode">Qrcode</label>
                                            <input type="file" class="form-control" id="qrCode" name="qrCode" placeholder="qrCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">

                                            <button type="submit" id="submit" name="submit" class="btn" style=" font-size: 16px; background-color: #6f5499; color: #fff; font-weight: bold">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
<div id="footer" th:insert="hnf/admin/footer :: frfooter"></div>
</body>
</html>
