<!DOCTYPE html>
<!--[if lt IE 10]>
<html lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div id="head" th:insert="hnf/author/head :: frhead"></div>
<body>
<div id="preloader"></div>
<div id="header" th:insert="hnf/author/header :: frheader"></div>
<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Find File</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-empty section-item">
    <div class="container content">
        <div id="findFile">
            <find-file></find-file>
        </div>
        <script th:src="@{/HTWF/scripts/vue/author/findFile.js}"></script>
    </div>
</div>
<div id="footer" th:insert="hnf/author/footer :: frfooter"></div>
<script>document.title = i18next.t('findFile')</script>
</body>
</html>