<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div id="head" th:insert="hnf/author/head :: frhead"></div>
<body>
<div id="preloader"></div>
<div id="header" th:insert="hnf/author/header :: frheader"></div>
<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Services</h1>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="section-empty section-item">
        <div class="container content">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group pricing-table">
                        <div class="list-group-item pricing-price">
                            200 <span>$</span>
                        </div>
                        <div class="list-group-item pricing-name">
                            <h3>
                                English Language Editing
                            </h3>
                        </div>
                        <div class="list-group-item">
                            General contracting
                        </div>
                        <div class="list-group-item">
                            Pre-Yellow Business services
                        </div>
                        <div class="list-group-item">
                            Yellow Business consulting
                        </div>
                        <div class="list-group-item">
                            Metal roofing
                        </div>
                        <div class="list-group-item">
                            businesss
                        </div>
                        <div class="list-group-item">
                            Design-build
                        </div>
                        <div class="list-group-item">
                            24/7 support
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-sm btn-default" href="https://rzp.io/i/gOSM7mAl"> Buy now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group pricing-table pricing-table">
                        <div class="list-group-item pricing-price">
                            399 <span>$</span>
                        </div>
                        <div class="list-group-item pricing-name">
                            <h3>Academic Translation</h3>
                        </div>
                        <div class="list-group-item">
                            General contracting
                        </div>
                        <div class="list-group-item">
                            Pre-Yellow Business services
                        </div>
                        <div class="list-group-item">
                            Yellow Business consulting
                        </div>
                        <div class="list-group-item">
                            Metal roofing
                        </div>
                        <div class="list-group-item">
                            businesss
                        </div>
                        <div class="list-group-item">
                            Design-build
                        </div>
                        <div class="list-group-item">
                            24/7 support
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-sm btn-default" href="#"> Buy now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group pricing-table">
                        <div class="list-group-item pricing-price">
                            999 <span>$</span>
                        </div>
                        <div class="list-group-item pricing-name">
                            <h3>Academic Illustration</h3>
                        </div>
                        <div class="list-group-item">
                            General contracting
                        </div>
                        <div class="list-group-item">
                            Pre-Yellow Business services
                        </div>
                        <div class="list-group-item">
                            Yellow Business consulting
                        </div>
                        <div class="list-group-item">
                            Metal roofing
                        </div>
                        <div class="list-group-item">
                            businesss
                        </div>
                        <div class="list-group-item">
                            Design-build
                        </div>
                        <div class="list-group-item">
                            24/7 support
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-sm btn-default" href="#"> Buy now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group pricing-table">
                        <div class="list-group-item pricing-price">
                            200 <span>$</span>
                        </div>
                        <div class="list-group-item pricing-name">
                            <h3>Figure Formatting</h3>
                        </div>
                        <div class="list-group-item">
                            General contracting
                        </div>
                        <div class="list-group-item">
                            Pre-Yellow Business services
                        </div>
                        <div class="list-group-item">
                            Yellow Business consulting
                        </div>
                        <div class="list-group-item">
                            Metal roofing
                        </div>
                        <div class="list-group-item">
                            businesss
                        </div>
                        <div class="list-group-item">
                            Design-build
                        </div>
                        <div class="list-group-item">
                            24/7 support
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-sm btn-default" href="#"> Buy now </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
        </div>
    </div>
<div id="footer" th:insert="hnf/author/footer :: frfooter"></div>
</body>
</html>
