<footer class="footer-base" style="position: fixed; width: 100%; bottom: 0px;" th:fragment="frfooter">
    <div class="content">
        <div class="row copy-row">
            <div class="col-md-12 copy-text">
                © 2022 AESH | Developed by <a th:href="@{'https://www.linkedin.com/in/zafarsiddiqui95/'}">TZS</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet" th:href="@{/HTWF/scripts/font-awesome/css/font-awesome.css}">
    <script async th:src="@{/HTWF/scripts/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/HTWF/scripts/imagesloaded.min.js}"></script>
    <script th:src="@{/HTWF/scripts/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/HTWF/scripts/jquery.bootgrid.min.js}"></script>
    <script th:src="@{/HTWF/scripts/jquery.tab-accordion.js}"></script>
    <script th:src="@{/HTWF/scripts/smooth.scroll.min.js}"></script>
</footer>