<footer class="footer-base" th:fragment="frfooter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-center text-left">
                    <a th:href="@{/}">
                        <img width="168px" th:src="@{/images/logo.png}" alt=""/>
                    </a>
                    <hr class="space m" style="height: 10px;"/>
                    <p class="text-s" id="aeshPunch">Transforms the vision into reality</p>
                    <hr class="space m"/>
                </div>
                <div class="col-md-4 footer-left text-left">
                    <div class="row">
                        <div class="col-md-6 text-s">
                            <h3 id="menu">Menu</h3>
                            <a th:href="@{/index.html}" id="homee">Home</a><br/>
                            <a th:href="@{/init/about-us}" id="aboutUss">About Us</a><br/>
                            <a th:href="@{/init/contact-us}" id="contactUss">Contact Us</a><br/>
                            <a th:href="@{/init/faq}" id="faqq">FAQs</a><br/>
                        </div>
                        <div class="col-md-6 text-s">
                            <h3 id="servicess">Services</h3>
                            <a th:href="@{/init/english-language-editing}" id="englishLanguageEditingg">English Editing</a><br/>
                            <a th:href="@{/init/scientific-editing}" id="scientificEditingg">Scientific Editing</a><br/>
                            <a th:href="@{/init/academic-illustration}" id="academicIllustrationn">Academic Illustration</a><br/>
                            <a th:href="@{/init/figure-formatting}" id="figureFormattingg">Figure Formatting</a><br/>
                            <a th:href="@{/init/journal-recommendation}" id="journalRecommend">Journal Recommendation</a><br/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-left text-left">
                    <h3 id="trustUs" >You can trust us</h3>
                    <p class="text-s" id="trustUsContent">
                        Utenim ad minim veniam quis nostrud exercitation ullamco lorem ipsum dolor sit ametullamco lorem
                        ipsum dolor sit ametullamco lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmo.
                    </p>
                </div>
            </div>
        </div>
        <div class="row copy-row">
            <div class="col-md-12 copy-text">
                © 2022 AESH | Developed by <a th:href="@{'https://www.linkedin.com/in/zafarsiddiqui95/'}">TZS</a>
            </div>
        </div>
    </div>

    <link rel="stylesheet" th:href="@{/HTWF/scripts/font-awesome/css/font-awesome.css}">
    <script async th:src="@{/HTWF/scripts/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/HTWF/scripts/imagesloaded.min.js}"></script>
    <script th:src="@{/HTWF/scripts/parallax.min.js}"></script>
    <script th:src="@{/HTWF/scripts/flexslider/jquery.flexslider-min.js}"></script>
    <script async th:src="@{/HTWF/scripts/isotope.min.js}"></script>
    <script async th:src="@{/HTWF/scripts/php/contact-form.js}"></script>
    <script async th:src="@{/HTWF/scripts/jquery.progress-counter.js}"></script>
    <script async th:src="@{/HTWF/scripts/jquery.tab-accordion.js}"></script>
    <script async th:src="@{/HTWF/scripts/bootstrap/js/bootstrap.popover.min.js}"></script>
    <script async th:src="@{/HTWF/scripts/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/HTWF/scripts/social.stream.min.js}"></script>
    <script th:src="@{/HTWF/scripts/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/HTWF/scripts/google.maps.min.js}"></script>
    <script th:src="@{/HTWF/scripts/smooth.scroll.min.js}"></script>
    <script>
        document.getElementById('aeshPunch').innerText = `${i18next.t('aeshPunch')}`;
        document.getElementById('homee').innerText = `${i18next.t('home')}`;
        document.getElementById('servicess').innerText = `${i18next.t('services')}`;
        document.getElementById('menu').innerText = `${i18next.t('menu')}`;
        document.getElementById('englishLanguageEditingg').innerText = `${i18next.t('englishLanguageEditing')}`;
        document.getElementById('scientificEditingg').innerText = `${i18next.t('scientificEditing')}`;
        document.getElementById('academicIllustrationn').innerText = `${i18next.t('academicIllustration')}`;
        document.getElementById('figureFormattingg').innerText = `${i18next.t('figureFormatting')}`;
        document.getElementById('journalRecommend').innerText = `${i18next.t('journalRecommendation')}`;
        document.getElementById('aboutUss').innerText = `${i18next.t('aboutUs')}`;
        document.getElementById('contactUss').innerText = `${i18next.t('contactUs')}`;
        document.getElementById('faqq').innerText = `${i18next.t('faqq')}`;
        document.getElementById('trustUs').innerText = `${i18next.t('youCanTrustUs')}`;
        document.getElementById('trustUsContent').innerText = `${i18next.t('youCanTrustUsContent')}`;
    </script>

</footer>
