<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div id="head" th:insert="hnf/head :: frhead"></div>
<body class="contacts">
<div id="preloader"></div>
<div id="header" th:insert="hnf/header :: frheader"></div>
<div class="section-empty section-item">
  <div class="container content">
    <div class="row">
      <div class="col-md-8">
        <h2>Submit a request</h2>
        <p class="text-color no-margins">We reply within 48 hour.</p>
        <hr class="space s" />
        <hr class="space s" />
        <form action="/init/contact-us" enctype="multipart/form-data" method="post">
          <div class="row">
            <div>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </div>
            <div class="col-md-6">
              <p>Please choose your issue below</p>
              <select name="issue" class="form-control" required>
                <option>Submit a Question</option>
                <option>Get Help</option>
                <option>Proof of Payment </option>
                <option>Purchase Prepay with Bank Transfer</option>
              </select>
            </div>
            <div class="col-md-6">
              <p>Email</p>
              <input id="email" name="from" placeholder="" type="email" class="form-control form-value" required>
            </div>
          </div>
          <hr class="space s" />
          <div class="row">
            <div class="col-md-6">
              <p>Email Subject</p>
              <input id="name" name="subject" placeholder="" type="text" class="form-control form-value" required>
            </div>
            <div class="col-md-6">
              <p>Please select your question</p>
              <select name="question" class="form-control" required>
                <option>Help Choosing a Service & Creating Order</option>
                <option>Help with my order in progress</option>
                <option>Help with my completed order</option>
                <option>Invoices and payments</option>
              </select>
            </div>
          </div>
          <hr class="space s" />
          <div class="row">
            <div class="col-md-12">
              <p>How can we help?</p>
              <textarea id="message" name="message" class="form-control form-value" required></textarea>

            </div>
          </div>
          <hr class="space s" />
          <div class="row">
            <div class="col-md-6">
              <p>Add File</p>
              <input type="file" name="attachment" class="form-control">
              <hr class="space s" />
              <button class="anima-button btn-border btn-sm btn" type="submit"><i class="fa fa-mail-reply-all"></i>Send Message</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<div id="footer" th:insert="hnf/footer :: frfooter"></div>
</body>
</html>
