<!DOCTYPE html>
<!--[if lt IE 10]>
<html lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<div id="head" th:insert="hnf/head :: frhead"></div>
<body>
<div id="preloader"></div>
<header></header>
<!--<form th:action="@{/init/resend-token(token=${#request.getParameter('token')},reqType=${#request.getParameter('reqType')})}" method="post">-->
<form th:action="@{/init/resend-token(token='160135',reqType='enableAccount')}" method="post">
    <div class="section-empty">
        <div class="container content box-middle-container full-screen-size" data-sub-height="80">
            <div class="row">
                <div class="col-md-12 text-center box-middle">
                    <div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </div>
                    <div>
                        <h1 id="resendToken">Resend Token</h1>
                        <hr class="space m"/>
                        <a th:href="@{/home}" class="anima-button btn-lg btn" id="goBack">GoBack</a>
                        <input type="submit" id="token" value="Resend Token" class="anima-button btn-lg btn"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
<div id="footer" th:insert="hnf/author/footer :: frfooter"></div>
<script>
    document.getElementById('resendToken').innerText = `${i18next.t('resendToken')}`;
    document.getElementById('token').value = `${i18next.t('token')}`;
    document.getElementById('goBack').innerText = `${i18next.t('goBack')}`;
</script>

</body>
</html>
