<footer class="footer-base footer-bg-color" style="position: fixed; width: 100%; bottom: 0px;" th:fragment="frfooter">
    <div class="content">
        <div class="row copy-row">
            <div class="col-md-12 copy-text">
                © 2022 AESH | Developed by <a th:href="@{'https://www.linkedin.com/in/zafarsiddiqui95/'}">TZS</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet" th:href="@{/HTWF/scripts/font-awesome/css/font-awesome.min.css}">
    <script th:src="@{/HTWF/scripts/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/HTWF/scripts/flexslider/jquery.flexslider-min.js}"></script>
    <script th:src="@{/HTWF/scripts/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/HTWF/scripts/jquery.tab-accordion.js}"></script>
    <script th:src="@{/HTWF/scripts/parallax.min.js}"></script>

</footer>