<header class="side-menu-header side-menu-lateral" data-menu-anima="default" th:fragment="frheader">
    <div class="navbar-header">
        <a class="hamburger-button" data-menu-anima="fade-left">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand" th:href="@{/home}"><img th:src="@{/images/logo.png}" alt="logo" width="168px" src="#"/></a>
    </div>
    <div class="side-menu-fixed">
        <div class="top-area">
            <a class="brand" th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="logo" src="#">
            </a>
        </div>
        <hr>
        <aside class="sidebar mi-menu">
            <nav class="sidebar-nav scroll-content">
                <ul class="side-menu">
                    <li>
                        <a th:href="@{/admin/findauthor}"><i class="fa fa-user"></i>Authors</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/findfile}"><i class="fa fa-files-o"></i>Files</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/findorder}"><i class="fa fa-shopping-cart"></i>Orders</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/updateqrcode}"><i class="fa fa-user"></i>QR Code</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</header>